.background{
    background-image: url('../../public/imagens/index-image.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    position: absolute !important;
    height: 800px;
    width: 100%;
    top: 0px;
    
}
@media (max-width: 800px){
    .background{
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .links{
        display: none;
    }
}

.footer{
    background-image: url('../../public/imagens/rodape-desktop.jpg');
    background-size: cover; 
    height: 400px;
    background-repeat: no-repeat;
    width: 90%;
    bottom: 0;
    }

    @font-face {
        font-family: HelveticaUltraLight;
        src: url(../assets/Fonts/HelveticaUltraLt_0.ttf);
      }
      