.background{
    background-image: url('../../public/imagens/index-image.jpg');
    background-repeat: no-repeat;
     background-size: cover; 
     position: absolute !important;
     height: 800px;
     width: 100%;
     top: 0px;

}